* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: "Gloock", serif;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: bisque;
}

h1 {
  text-align: center;
  color: black;
  background-color: darkgoldenrod;
  padding: 10px;
}

.nav-bar {
  display: flex;
  background-color: darkgoldenrod;
  color: black;
  padding: 10px;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  max-height: 50px;
  justify-content: space-between;
}

.nav-bar__button {
  background-color: darkgoldenrod;
}
