* {
  display: flexbox;
  margin: 0;
  padding: 0;
  justify-content: center;
}

h1 {
  align-self: center;
  color: darkolivegreen;
  background-color: darkgoldenrod;
  padding: 10px;
}

.base-layer {
  background-color: bisque;
}

.base-layer__question-card {
  padding: 20px;
  margin: 10px;
  min-width: 100px;
  min-height: 400px;
  justify-content: center;
  background-color: burlywood;
  color: darkolivegreen;
  border: dashed 2px darkgoldenrod;
  border-radius: 30px;
}

p .question {
  justify-content: center;
}

.bookmark {
  border: solid 1px darkgoldenrod;
  border-radius: 10px;
  background-color: bisque;
  color: darkolivegreen;
  text-transform: none;
  padding: 3px;
  margin: 2px;
}

.show-answer-button {
  border: solid 2px darkgoldenrod;
  border-radius: 10px;
  background-color: bisque;
  color: darkolivegreen;
  margin: 2px;
  padding: 2px;
}

.nav-bar {
  background-color: darkgoldenrod;
  color: darkolivegreen;
  padding: 10px;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  justify-content: center;
}

.nav-bar__button {
  margin: 20%;
}

.nav-bar__button:hover {
  background-color: darkolivegreen;
}
